@charset "utf-8";
/* CSS Document */

h1 {
width:auto
min-width:600px;
padding:.5em;
font-size:1.3em;
font-weight:bold;
margin:10px auto;
border:dotted hsla(219,60%,45%,1) 1px;}

/* иконка книги */
.obk {
display:inline-block;
width:auto;
margin-right:10px;}

/* кнопки навигации по книге */
.newbut {
position:relative;
display:inline-block;
width:120px;
padding:0.2em 0.4em;
margin-bottom:12px;
font-size:1.2em;
background:hsla(339,60%,100%,1);
border:1px solid hsla(339,60%,100%,1);
-webkit-box-shadow:0 1px 4px hsla(339,60%,45%,0.3), 0 0 40px hsla(339,60%,45%,0.1) inset;
-moz-box-shadow:0 1px 4px hsla(339,60%,45%,0.3), 0 0 40px hsla(339,60%,45%,0.1) inset;
box-shadow:0 1px 4px hsla(339,60%,45%,0.3), 0 0 40px hsla(339,60%,45%,0.1) inset}

.newbut:before {
top:10px;
bottom:10px;
left:0;
right:0;
-webkit-box-shadow:0 0 15px hsla(0,0%,0%,0.6);
-moz-box-shadow:0 0 15px hsla(0,0%,0%,0.6);
box-shadow:0 0 15px hsla(0,0%,0%,0.6);
-moz-border-radius:10px/20px;
border-radius:10px/20px}

.newbut:link, .newbut:visited {color:hsla(0,0%,0%,1)}

.newbut:hover {
border:1px solid hsla(219,60%,45%,1);
/*свечение*/
-webkit-box-shadow:0 0 30px hsla(219,60%,45%,0.6), 0 0 100px hsla(339,60%,45%,0.5) inset;
-moz-box-shadow:0 0 30px hsla(219,60%,45%,0.6), 0 0 100px hsla(339,60%,45%,0.5) inset;
box-shadow:0 0 30px hsla(219,60%,45%,0.6), 0 0 100px hsla(339,60%,45%,0.5) inset}

#mnbd #soderganie a:hover {
opacity:0.7;
color:hsla(339,70%,45%,1);
border-color:hsla(339,60%,25%,1);
-webkit-box-shadow:0 0 26px hsla(219,60%,45%,1);
-moz-box-shadow:0 0 26px hsla(219,60%,45%,1);
box-shadow:0 0 26px hsla(219,60%,45%,1)}
/*****************************/

#pred {display:inline-block;
	   width:auto;
	   max-width:240px;
	   min-height:240px;
	   margin:0;
	   text-align:center;
	   vertical-align:top;}
	   
#pred .mbut {	display:block;
				padding:3px;
				margin-bottom:6px;}	   
	
.glavy {font-size:16pt;
		font-weight:bold;
		width:auto;
		text-align:center;
		margin:14px auto 8px;
		border-bottom:dotted #4477a1 1px;}

#nomerglav {display:inline-block;
			height:auto;
			width:auto;
			margin:0 auto 10px;
			text-align:left;}

#nomerglav a, #soderganie a {width:24px;
			  height:22px;
			  display:inline-block;
			  color:#FFF;
			  font-size:13pt;
			  border:1px solid #0099FF;
			  border-radius:6px;
			  text-align:center;
			  margin:2px;
			  opacity:1;
			  background:#4477a1;
			  background:-webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
			  background:-moz-linear-gradient(-90deg, #81a8cb, #4477a1);
			  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
			  /*transition*/
			  -webkit-transition:all 0.5s ease;
			  -moz-transition:all 0.5s ease;
			  -o-transition:all 0.5s ease;
			  -ms-transition:all 0.5s ease;}

#nomerglav a:hover, #soderganie a:hover {opacity:0.5;
					border-color:#00F;
					/*свечение*/
					-webkit-box-shadow: 0px 0px 20px rgba(0,0,255,1);
					-moz-box-shadow: 0px 0px 20px rgba(0,0,255,1);
					box-shadow: 0px 0px 20px rgba(0,0,255,1);}				

#soderganie {display:none;
			 width:60%;
			 height:auto;
			 margin:0 auto;
			 clear:both;
			 text-align:left;}
		
#soderganie a {width:26px;
			   height:18px;
			   font-size:10pt;
			   vertical-align:middle;}

.stranica {width:110px;
		   text-align:center;
		   border:2px ridge #000000;
		   border-radius:12px;
		   background-color:#3CF;
		   color:#FFF;}
		 
.audio {width:364px;
		height:36px;
		margin:0 auto;}
		
.audio a {display:inline-block;
		  width:116px;
		  height:36px;
		  margin-right:2px;}
		 
#yand {background-image:url(/img/yandex_mp3.png);}

#emule {background-image:url(/img/emule_logo3.png);}
			
#track {background-image:url(/img/torrents_logo3.png);}

.videolek {display:inline-block;
		   width:72px;
		   height:72px;
		   margin:0 auto;
		   background-image:url(/img/knopki/video.png);}