@charset "utf-8";
/* CSS Document */

@page {
margin:1cm}

html {
padding:0;
margin:0;
height:100%}

body {
height:96%;
padding:0;
margin-top:-1.5cm;
color:hsla(0,0%,0%,1);
background:hsla(0,0%,100%,1);
font:Georgia, "Times New Roman", Times, serif;
text-align:center}

.navbut, .nvbk, .nv-bk, .ya-site-form ya-site-form_inited_no, #lx_511977, #txtrkz, #txtrkz_add, .nameofbook2, .nameofbook1, .fmpoisk, .pechat, .yashare-auto-init, .pechat, .pic, .spisok2, #orphus, #nomstr, #fotostr, .underfoto, nav, .download, #teaserrec, #mediarec, #teasernet, .poisk-soc, #orfus-text, .video-schema, .video-schema-meta {
display:none;}

.raised {
padding:0 1.5cm 1.5cm;
margin:0}

h2, h1 {
text-align:center;
text-indent:0;
margin:10px auto}

.nameofbook1 {
padding-top:-1cm;
padding-bottom:1.5cm;
font-size:14pt}

p {
font-size:13pt;
line-height:.6cm;
text-align:justify;
text-indent:1.25cm;
margin:0}

.crs {
font-style:italic}

.avtor {
margin:0 auto 10px;
text-align:center;
text-indent:0;
font-size:1.2em;
font-weight:bold}

.bld {
font-weight:bold !important}

.otstup { 
margin-top:10px !important;
margin-bottom:10px !important}

.prs, .raised table tr td p.prs {
font-weight:bold}

#nomstr {
color:hsla(0,0%,0%,1);
font-size:14pt;
font-weight:bold;
text-indent:0;
text-align:right;
margin-top:1.5cm;
margin-bottom:-1cm}

#nomstr::before {
content:"страница";
margin-right:0.3cm;
margin-bottom:-1cm}

.note {
display:inline;
vertical-align:super;
font-weight:bold;
color:hsla(339,60%,45%,1);
font-size:.7em !important;
font-family:Verdana, Geneva, sans-serif}

p.botnote1, p.botnote {
text-indent:0;
font-style:italic;
font-size:.9em}

p.botnote1 {
border-top:2px dashed hsla(219,60%,35%,1);
margin-top:1.2em}

.raised table tr td {
vertical-align:top}

.raised table tr td p {
text-indent:0;
text-align:left}

td.shir {
width:35%}

.text-of-book {
width:100%;
height:auto;
padding:2em 0 3em;
margin:.5em auto;
background-color: hsla(0,0%,100%,1);
border-right:1px ridge hsla(0,70%,0%,1);
border-bottom:1px ridge hsla(0,70%,0%,1);
border-top:1px ridge hsla(0,70%,100%,1);
border-left:1px ridge hsla(0,70%,100%,1)}

.pss { /* страница ПСС Достоевского */
display:block;
width:620px;
margin:0 auto;
white-space:normal}

.text-of-book p, .text-of-book img {
margin:0;
padding:0 3em;
text-align:justify;
text-indent:24px;
font:12pt/17pt verdana}

.pss p {
text-indent:22pt;
line-height:116% !important;
font:12.6pt/17pt "Times New Roman", Times, serif}

.fmd1 { /* заголовок раздела ПСС Достоевского */ 
margin-bottom:45px;
font-weight:normal;
font-family:'Academy Old';
margin-top:204px}

.fmdnote {
display:inline;
vertical-align:super;
margin-right:3px;
font-weight:bold;
color:hsla(339,60%,45%,1);
font-size:11px !important;
font-family:Verdana, Geneva, sans-serif}

.fmdcrs {
font-style:italic !important}

.fmdsub {
font-size:60%}

.fmdbotnote {
font-size:86% !important;
line-height:130% !important}

.t-i-0 {
text-indent:0 !important}

/* Достоевский */

.fmd {/* страницы книги Достоевский */
display:block;
width:620px;
height:auto;
padding:1px 1px 20px 1px;
margin:0 auto;
background-color: hsla(0,0%,100%,1);
-webkit-box-shadow:0 15px 10px -10px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
-moz-box-shadow:0 15px 10px -10px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
box-shadow:0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset}

.fmdstrokal, .fmdstrokar, .fmdstrokali {
position:absolute;
display:inline-block;
color:hsla(339,60%,45%,1);
font-size:10pt;
font-style:normal}

.fmdstrokal {
left:-42pt}

.fmdstrokali {
left:-20pt}

.fmdstrokar {
right:-16pt}

.copiya {
display:block;
position:relative;
width:474px;
height:auto;
padding:0;
margin:76px auto 0}

.fmd .copiya p {
margin:0;
text-align:justify;
text-indent:28pt;
font:12.5pt/17pt "Times New Roman", Times, serif;
width:auto}

.fmd1 {
margin-bottom:45px;
font-weight:normal;
font-family:'Academy Old'}

.fmdnote {
display:inline;
vertical-align:super;
font-weight:bold;
color:hsla(339,60%,45%,1);
font-size:11px !important;
font-family:Verdana, Geneva, sans-serif}

.fmdcrs {
font-style:italic}

.fmdsub {
vertical-align:sub;
font-size:10px}

.fmdbotnote {
text-indent:0 !important;
font-style:italic;
font-size:11pt !important}

.fmdfooter{/* подвал страницы книги: значок принтера, соц. сети, номер страницы */
display:block;
width:460px;
height:auto;
margin:20px auto 0;
padding-top:10px;
border-top:1px solid hsla(330,60%,45%,1);
text-align:center}

#fmdpechat {
display:block;
width:22px;
height:22px;
background-image:url(/img/pechat.png);
margin-top:16px;
margin-right:66px; /* выравнивание кнопки соц. сетей по центру */
float:left}

.fmdh2 {
font-size:1.3em}

.t-a-r {
text-align:right !important}

.fmdstroka {
position:absolute;
display:inline-block;
left:-60px;
color:hsla(339,60%,45%,1);
font-size:10pt;
font-style:normal}

.admin, .admin2, .admin3, .admin5 {
display:block;
height:auto;
width:auto;
max-width:90%;
margin:1em auto;
text-align:center}

.admin3, .admin5, .ramka {
border:2px ridge hsla(330,60%,45%,1);
border-radius:10px;
padding-top:1em;
padding-left:1.2em}

.ramka {
max-width:70%}

.admin5 {
max-width:70%} 

.admin img {
max-width:300px}

.admin2 img {
width:150px;
height:150px}

.admin3 img {
width:100px;
height:100px}

.admin a, .admin2 a, .admin3 a, .admin5 a {
display:inline-block;
width:auto;
height:auto;
margin-right:1.2em;
margin-bottom:1.2em}

.admin3 a {
margin-right:1em;
margin-bottom:1em}

.admin .zag1 a, .admin2 .zag1 a, .admin3 .zag1 a, .admin5 .zag1 a {
margin-bottom:0.1em}

.admin img, .admin2 img, .admin3 img, .admin5 img {
border:5px hsla(330,60%,45%,0) ridge}

.admin img:hover, .admin2 img:hover, .admin3 img:hover, .admin5 img:hover  {
border:5px hsla(0,90%,40%,.9) ridge;
opacity:.8;
transition:all .3s ease}

#brd0 {
border:0;
margin-right:1.5em;
width:60% !important;
max-width:583px !important;
max-height:340px !important}

#brd0:hover {
border:0;
opacity:1}

.admin5 img {
max-width:150px}

.admin6 {
border:0;
max-width:90%}